ICS/3. Executing/Development/ICS/ICS.DataAccess/Web References/CooperServiceBroker/CsbPublicPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CooperTire.CooperServiceBroker.WebServices.Public.PI" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CooperTire.CooperServiceBroker.WebServices.Public.PI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CooperTire.CooperServiceBroker.WebServices.Public.PI">
      <s:element name="PushPalletLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchLoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PalletID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MarqueeDisplay" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushPalletLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PushPalletLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTesData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAPMaterialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAPPlant" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTesDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientTests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificationTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TireTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsClientRequestList">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientTestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientTestsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAPMaterialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestingData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificationTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAPMaterialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ManufactureLocationIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestingDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestingDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTireType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SAPMaterialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTireTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTireTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PushPalletLocationSoapIn">
    <wsdl:part name="parameters" element="tns:PushPalletLocation" />
  </wsdl:message>
  <wsdl:message name="PushPalletLocationSoapOut">
    <wsdl:part name="parameters" element="tns:PushPalletLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTesDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTesData" />
  </wsdl:message>
  <wsdl:message name="GetTesDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTesDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientTestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientTests" />
  </wsdl:message>
  <wsdl:message name="GetClientTestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientTestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductData" />
  </wsdl:message>
  <wsdl:message name="GetProductDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestingDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestingData" />
  </wsdl:message>
  <wsdl:message name="GetTestingDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestingDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTireTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTireType" />
  </wsdl:message>
  <wsdl:message name="GetTireTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTireTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="CsbPublicPISoap">
    <wsdl:operation name="PushPalletLocation">
      <wsdl:input message="tns:PushPalletLocationSoapIn" />
      <wsdl:output message="tns:PushPalletLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTesData">
      <wsdl:input message="tns:GetTesDataSoapIn" />
      <wsdl:output message="tns:GetTesDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientTests">
      <wsdl:input message="tns:GetClientTestsSoapIn" />
      <wsdl:output message="tns:GetClientTestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductData">
      <wsdl:input message="tns:GetProductDataSoapIn" />
      <wsdl:output message="tns:GetProductDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestingData">
      <wsdl:input message="tns:GetTestingDataSoapIn" />
      <wsdl:output message="tns:GetTestingDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTireType">
      <wsdl:input message="tns:GetTireTypeSoapIn" />
      <wsdl:output message="tns:GetTireTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CsbPublicPISoap" type="tns:CsbPublicPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushPalletLocation">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/PushPalletLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTesData">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTests">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetClientTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductData">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetProductData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestingData">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTestingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTireType">
      <soap:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTireType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CsbPublicPISoap12" type="tns:CsbPublicPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushPalletLocation">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/PushPalletLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTesData">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTests">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetClientTests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductData">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetProductData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestingData">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTestingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTireType">
      <soap12:operation soapAction="http://CooperTire.CooperServiceBroker.WebServices.Public.PI/GetTireType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CsbPublicPI">
    <wsdl:port name="CsbPublicPISoap" binding="tns:CsbPublicPISoap">
      <soap:address location="http://cooperservicebrokerfinqa/CsbSvcPublic/PI/CsbPublicPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CsbPublicPISoap12" binding="tns:CsbPublicPISoap12">
      <soap12:address location="http://cooperservicebrokerfinqa/CsbSvcPublic/PI/CsbPublicPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>